/*CSS reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
    list-style: none;
}

/*CSS imported*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap');

/*CSS style var*/
:root {
    --background-color: #BFAEA4;
    --main-text-color: #591218;
    --main-background-color: #F2F2F2;
    --left-side-text-color: #F2F2F2;
    --left-side-color: #947D85;
    --title-background-color: #BFAEA4;
}

/*CSS main style*/
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--main-text-color);
    margin: 5px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-style: bold;
    letter-spacing: 2px;
    margin: 15px auto;
    line-height: 48px;
    background-color: var(--main-text-color);
    color: var(--main-background-color);
    border-radius: 5px;
    padding: 3px 10px;
}

li {
    line-height: 24px;
}

header {
    display: flex;
    justify-content: flex-end;
}

.header-menu-list {
    display: inline-flex;
}

.header-menu-item {
    margin: 10px;
}

.header-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--title-background-color);
    color: var(--main-text-color);
}

.section-title {
    font-family: 'Playfair Display', serif;
    background-color: var(--title-background-color);
    color: var(--main-text-color);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 3px 10px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    background-color: var(--main-background-color);
}

.main-photo {
    width: 100%;
    border-radius: 5px;
}

.main-container-left-section {
    background-color: var(--left-side-color);
    color: var(--left-side-text-color);
    width: 30%;
    padding: 20px;
}

.main-container-right-section {
    color: var(--main-text-color);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 24px;
}

.contacts-section-item,
.hard-skills-section-item,
.language-skills-section-item,
.about-me-descr,
.about-me-education-descr,
.about-me-courses-descr {
    padding-left: 15px;
}

.contacts-section-item-link {
    color: var(--left-side-text-color);
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
}

.contacts-section-item-link:hover {
    color: var(--main-text-color);
    text-decoration: underline;
}

.about-me-date-title {
    display: inline-block;
    background-color: var(--title-background-color);
    color: var(--main-text-color);
    border-radius: 5px;
    padding: 1px 15px;
}

.about-me-secton-subtitle {
    padding-left: 15px;
}

.about-me-descr {
    font-style: italic;
    padding-right: 25px;
}

.about-me-courses-descr {
    list-style: circle;
    margin: 0 30px;
    padding: 0;
}

.link-style {
    text-decoration: none;
    color: var(--main-text-color);
    transition: all .3s;
}

.link-style:hover {
    text-decoration: underline;
    color: var(--left-side-color);
}

.footer {
    background-color: var(--main-text-color);
    color: var(--left-side-text-color);
    height: 56px;
    display: flex;
}

.footer-item {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.footer-item-social-link {
    width: 32px;
    margin: 5px 5px;
}
